{% extends "layout.html" %}
{% block body %}
  <div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col">
          <h1>About</h1>
          <p>
          I made this tool as an excuse to learn python, flask, and bootstrap for making web applications.
          </p>
          If you want a tool that does a better job then please try:
          <ul>
              <li><a href="https://ipalyzer.com/">IP Analyzer</a></li>
              <li><a href="https://ipinfo.io/">ipinfo.io</a></li>
              <li><a href="http://www.ipvoid.com/">ipvoid</a></li>
              <li><a href="https://ifconfig.co/">iifconfig.co</a></li>
          </ul>
          <h5>MaxMind</h5>
          <p>This product includes GeoLite2 data created by MaxMind, available from
          <a href="http://www.maxmind.com">http://www.maxmind.com</a>.</p>
          <h5>Python</h5>
          <p><a href="https://www.python.org/"><img src="https://www.python.org/static/community_logos/python-powered-w-140x56.png" border="0" alt="Flask powered" title="Python powered"></a></p>
          <h5>Flask</h5>
          <p><a href="http://flask.pocoo.org/"><img src="http://flask.pocoo.org/static/badges/flask-powered.png" border="0" alt="Flask powered" title="Flask powered"></a></p>
      </div>
    </div>
  </div>
{% include "footer.html" %}
{% endblock %}

