{% extends "layout.html" %}

{% block body %}
<div class="container" style="margin-top:30px">
  <div class="row">
    <span class="border rounded">
      <div class="mw-100">
        <h5 class="text-center">enter ip</h5>
        <form action="/analyze" method="post" maxlength="15">
        {{ form.csrf_token }}
        {{ form.ipaddress}}
        <input type="submit" value="Go">
      </div>
    </span>

    <span class="border mx-auto">
      <div class="w-100">
        <h5 class="text-center">info</h5>
        <table class="table table-sm">
        <tr>
          <th scope="row"></th>
            <td>IP</td>
            <td>{{ ipaddress }}</td>
        </tr>
        <tr>
          <th scope="row"></th>
            <td>ASN</td>
            <td>{{ asn }}</td>
        </tr>
        <tr>
          <th scope="row"></th>
            <td>CIDR</td>
            <td>{{ asn_cidr }}</td>
        </tr>
        <tr>
          <th scope="row"></th>
            <td>HANDLE</td>
            <td>{{ network_handle }}</td>
        </tr>
        <tr>
          <th scope="row"></th>
            <td>NAME</td>
            <td>{{ network_name }}</td>
        </tr>
        <tr>
          <th scope="row"></th>
            <td>DESCRIPTION</td>
            <td>{{ asn_description }}</td>
        </tr>
        <tr>
          <th scope="row"></th>
            <td>COUNTRY</td>
            <td>{{ asn_country_code }}</td>
        </tr>
        </table>
      </div>
    </span>

    <span class="border mx-auto">
      <div class="mw-100">
        <h5 class="text-center">blacklists</h5>
        <table class="table table-sm">
          {% for key, value in blacklists.items() %}
          <tr>
            <th scope="row"></th>
              <td class="text-right">{{ key }}</td>
              <td class="bl_value">
                {% if value == True %}
              <span class="text-center badge badge-danger">
                {{ value }}
              </span>
                {% endif %}
                {% if value == False %}
              <span class="text-center badge badge-success">
                {{ value }}
              </span>
                {% endif %}
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </span>
  </div>

  <div class="row justify-content-center">
      <span class="border mx-auto">
      <div class="mw-100">
        <h5 class="text-center">location</h5>
        <table class="table table-sm">
        <tr>
          <th scope="row"></th>
            <td>CONTINENT</td>
            <td>{{ geo_continent }}</td>
        </tr>
        <tr>
          <th scope="row"></th>
            <td>COUNTRY</td>
            <td>{{ geo_country }}</td>
        </tr>
        <tr>
          <th scope="row"></th>
            <td>CITY</td>
            <td>{{ geo_city}}</td>
        </tr>
        <tr>
          <th scope="row"></th>
            <td>LATITUDE</td>
            <td>{{ geo_latitude}}</td>
        </tr>
        <tr>
          <th scope="row"></th>
            <td>LONGITUDE</td>
            <td>{{ geo_longitude}}</td>
        </tr>
        </table>
      </div>
    </span>

    <span class="border mx-auto">
      <div class="w-100">
        <iframe src="http://maps.google.com/maps?q={{ geo_latitude }}, {{ geo_longitude }}&z=10&output=embed" width="360" height="270" frameborder="0" style="border:0"></iframe>
      </div>
    </span>

    <span class="border mx-auto">
      <div class="mw-100">
          <h5 class="text-center">test</h5>
          testing
      </div>
    </span>


{% include "footer.html" %}
{% endblock %}

