{% extends "layout.html" %}

{% block body %}
<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card">
      <div class="card-header">ENTER IP</div>
        <div class="card-body">
          <p class="card-text">
            <form action="/analyze" method="post" maxlength="15">
            {{ form.csrf_token }}
            {{ form.ipaddress}}
            <input type="submit" value="Go">
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card">
        <div class="card-header">INFO</div>
        <div class="card-body">
          <p class="card-text">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">IP: {{ ipaddress }}</li>
              <li class="list-group-item">ASN: {{ asn }}</li>
              <li class="list-group-item">CIDR: {{ asn_cidr }}</li>
              <li class="list-group-item">HANDLE: {{ network_handle }}</li>
              <li class="list-group-item">NAME: {{ network_name }}</li>
              <li class="list-group-item">DESCRIPTION: {{ asn_description }}</li>
              <li class="list-group-item">COUNTRY: {{ asn_country_code }}</li>
            </ul>
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card">
        <div class="card-header">BLACKLISTS</div>
        <ul class="list-group">
          {% for key, value in blacklists.items() %}
            <li class="list-group-item">{{ key }}:
            {% if value == True %}
              <span class="text-center badge badge-danger">
              {{ value }}
              </span></li>
            {% endif %}
            {% if value == False %}
              <span class="text-center badge badge-success">
              {{ value }}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card">
        <div class="card-header">LOCATION</div>
        <ul class="list-group">
          <li class="list-group-item">CONTINENT: {{ geo_continent }}</li>
          <li class="list-group-item">COUNTRY: {{ geo_country }}</li>
          <li class="list-group-item">CITY: {{ geo_city}}</li>
          <li class="list-group-item">LATITUDE: {{ geo_latitude}}</li>
          <li class="list-group-item">LONGITUDE: {{ geo_longitude}}</li>
        </ul>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card">
      <div class="card-header">MAP</div>
        <iframe src="http://maps.google.com/maps?q={{ geo_latitude }}, {{ geo_longitude }}&z=10&output=embed"style="border:0"></iframe>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card">
      <div class="card-header">TEST</div>
      <p>testing<p>
      </div>
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}

